<div class="row">
    <div class="col-xs-12 col-md-4">
        <div id="profile">

            <div class="portrait"></div>

            <div class="portrait-title" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <h2 itemprop="name">{{ .Site.Params.name }}</h2>
                <h3 itemprop="jobTitle">{{ .Site.Params.role }}</h3>
                <h3 itemprop="worksFor">{{ .Site.Params.organization }}</h3>
                    
            </div>
                       
            <ul class="list-inline social-icon">
                {{ $mailto := .Site.Params.emailmailto }}
                {{ $first := .Site.Params.emailfirst }}
                {{ $last := .Site.Params.emaillast }}
                {{ $domain:= .Site.Params.emaildomain}}
                {{ range .Site.Params.social }}
                <li>
                    {{ if eq .type "email" }}
                       <noscript>Dear users of non-JavaScript enabled browsers: I hide my email address from harvesters with a combination of URL encoding and JS. If you are reading this, you are probably very familiar with the topic. You can contact me at FIRSTNAME DOT LASTNAME AT SYDNEY DOT EDU DOT AU. Sorry for this inconvenience.</noscript>
                       <script>
                            var mailto = {{ printf "'%s'" $mailto | safeJS }};
                            var emailfirst = {{ printf "'%s'" $first | safeJS }};
                            var emaillast = {{ printf "'%s'" $last | safeJS }};
                            var emaildomain= {{ printf "'%s'" $domain | safeJS }};
                            document.write('<a href="' + mailto + emailfirst + emaillast + emaildomain + '">');
                       </script>
                        {{ if eq .icon_pack "ai" }}
                            <i class="ai ai-{{ .icon }} big-icon" aria-hidden="true"></i>
                        {{ else }}
                            <i class="fa fa-{{ .icon }} big-icon" aria-hidden="true"></i>
                        {{ end }}
                    {{ else }}
                        <a href="{{ .link }}">
                        {{ if eq .icon_pack "ai" }}
                            <i class="ai ai-{{ .icon }} big-icon" aria-hidden="true"></i>
                        {{ else }}
                            <i class="fa fa-{{ .icon }} big-icon" aria-hidden="true"></i>
                        {{ end }}
                    {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
            </div>
    </div>

    <div class="visible-sm visible-xs"></div>

    <div class="col-xs-12 col-md-8">

        {{ .Content }}


    </div>
</div>
