{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- Flag for jQuery -->
<span id="homepage" style="display: none"></span>


<!-- About me -->
{{ range where .Data.Pages "Type" "home" }}
{{ if eq .Title "about" }}
<section id="intro" class="home-section">
    <div class="container">
        {{ partial "home_biography" . }}
    </div>
</section>
{{ end }}
{{ end }}

<!-- Custom Sections -->
{{ range $index, $page := where .Data.Pages "Type" "home" }}
{{ if and (isset .Params "section_id") (not (eq .Params.section_id 0)) }}
{{ $title_words := split $page.Title " " }}
<section id="{{ range $k, $v := $title_words }}{{ if eq $k 0 }}{{ . | urlize | lower }}{{ end }}{{ end }}" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>{{ title $page.Title }}</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                {{ $page.Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}


<!-- Publications Section -->
{{ $pubs_len := len (where .Data.Pages "Type" "publication") }}
{{ if gt $pubs_len 0 }}
<section id="publications" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>Selected publications</h2>
                <p><a href="{{ .Site.BaseURL }}publication/">All publications <i class="fa fa-angle-double-right" style="padding-left: 5px;"></i></a></p>
            </div>
            <div class="col-xs-12 col-md-8">
                <ul class="fa-ul">
                    {{ range $page := where (where .Data.Pages "Type" "publication") ".Params.selected" "true" }}
                    <li>
                        <i class="fa-li fa fa-file-pdf-o pub-icon" aria-hidden="true"></i>
                        <span style="padding-right: 8px"><a href="{{ $page.Params.url_pdf | safeURL}}">{{ .Title }}</a>. {{ delimit $page.Params.authors ", " ", and " }}. <i>{{ $page.Params.publication }}</i>. {{ if isset $page.Params "location" }}{{ printf "%s, " $page.Params.location }}{{ else }}{{ $page.Params.location }}{{ end }}{{ $page.Params.time }}.</span>{{ partial "publication_links" (dict "content" $page "is_list" 1) }}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }} 


<!-- Contact Section -->
<section id="contact" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>Contact</h2>
            </div>
            <div class="col-xs-12 col-md-8">
                {{ partial "home_contact.html" . }}
            </div>
        </div>
    </div>
</section>


<!-- Page Footer -->
{{ partial "footer_container.html" . }}

{{ partial "footer.html" . }}
